
/********************************** Google Fonts  ******************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500;700&display=swap');

.title-text{
    font-family: 'Montserrat', sans-serif;
    color: #243b55;
}

.section-text{
    font-family: 'Roboto', sans-serif;
}

/* Button style */
.myButton {
	box-shadow: 0px 10px 14px -7px #276873ad;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:4px;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:600;
	padding:6px 56px;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
